<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dahlia Domination</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div id="input-section">
    <input type="text" id="submission" placeholder="Type your truth..." autofocus />
    <p id="feedback"></p>
  </div>
  <audio id="audio" src="/static/audio/tuo_audio.mp3"></audio>
  <script src="/static/script.js"></script>
</body>
</html>
